* {
  margin:0;
  padding:0;
}
body {
  min-width: 960px;
  padding:0 !important;
}
#app {
  overflow: hidden;
}
.app-main {
  /*margin: 30px auto 0 auto;*/
}
.main-left {
  width: 520px;
  padding-left:50px;
  float: left;
}
.main-right {
  width: 280px;
  margin:0 0 0 100px;
  display: inline-block;
}
.split-line {
  margin: -5px 0 15px;
  border-top: 1px solid #f0f0f0;
}
/*---------------------headerComponent----------------------------*/
.header-component {
  height:56px;
  border-top:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
  width:100%;
}
.header-logo {
  width:100px;
  display:inline-block;
}
.header-logo img {
  height:100%;
  width: 100%;
}
.write-btn {
  float: right;
  width: 100px;
  height: 40px;
  line-height: 24px;
  margin: 8px 15px 0;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  background-color: #ea6f5a;
}
.sign-up {
  float: right;
  width: 80px;
  height: 38px;
  line-height: 24px;
  margin: 9px 5px 0 15px;
  border: 1px solid rgba(236,97,73,.7);
  color: rgba(236,97,73,.7);
  border-radius: 20px;
  font-size: 15px;
}
.sign-up:hover {
  color: #ec6149;
  border-color: #ec6149;
  background-color: rgba(236,97,73,.05);
}
.log-in {
  float: right;
  margin: 11px 6px 0 10px;
  font-size: 15px;
}
.log-in:hover {
  color: #969696;
}
.container {
  margin-right: auto;
  margin-left: auto;
  margin-top:-58px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav li {
  margin-right: 5px;
  float: left;
}
.navbar-nav>.active>a {
  color: #ea6f5a;
  background: none;
}
.navbar-nav li>a {
  padding-top: 18px;
}
.tab a {
  height: 56px;
  line-height: 26px;
  padding: 15px;
  color: #333;
}
.nav form {
  position: relative;
  top: 9px;
  margin:0 0 20px;
}
.nav form .ic-search {
  margin: 7px -1px 0 0;
  display: block;
}
.nav form .search-input {
  padding: 0 40px 0 20px;
  width: 160px;
  height: 38px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 40px;
  background: #eee;
}
.nav form .search-btn {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 30px;
  height: 30px!important;
  line-height: normal!important;
  padding: 0!important;
  color: #969696!important;
  text-align: center;
}
.navbar-search-tips {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  margin-top: 9px;
  width: 250px;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  border-radius: 4px;
}
.search input {
  transition:width 0.3s ease-in-out;
}
.search-trending {
  padding: 20px 20px 10px;
  border-bottom: 1px solid #f0f0f0;
}
.search-trending-header {
  height: 20px;
  margin-bottom: 10px;
}
.search-trending-header  span {
  float: left;
  font-size: 14px;
  color: #969696;
}
.search-trending-header a{
  float: right;
  font-size: 13px;
  color: #969696;
  background-color: transparent;
  border-width: 0;
  padding: 0;
}
.search-trending-header i {
  display: inline-block;
  line-height: 1;
  transition: .5s ease;
}
.search-trending-tag-wrap {
  font-size: 0;
}
.search-trending-tag-wrap li {
  margin-right: 10px;
  display: inline-block;
  line-height: 28px;
}
.search-trending-tag-wrap li a {
  padding: 2px 6px;
  font-size: 12px;
  color: #787878;
  border: 1px solid #ddd;
  border-radius: 3px;
}
/*------------------------homepage--------------------------*/
.homepage {
  width: 960px;
  margin: 0 auto;
}
.homepage .homepageCarousel {

  border-radius: 6px;
  overflow: hidden;
  z-index: 1000;
  width: 485px;
  height: 210px;
  position: relative;
}
.homepage .homepageCarousel ul {
  overflow: hidden;
}
.homepage .homepageCarousel .carouselshow {
  width: 485px;
  height: 210px;
}
.homepage .homepageCarousel li {
  position: absolute;
}
.homepage .homepageCarousel img {
  width: 485px;
  height: 210px;
}
.homepage .homepageCarousel .carousel-bar {
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
.homepage .homepageCarousel .carousel-bar span {
  width: 20px;
  height: 5px;
  border: 1px solid hsla(0,0%,47%,.4);
  background-color: hsla(0,0%,47%,.4);
  display: inline-block;
  margin-right: 10px;
}
.homepage .homepageCarousel .active {
  background: white !important;
}
/*-------------carousel-transition--------------------*/
.carousel-enter-active {
  transform: translateX(0);
  transition: all 1.5s ease;
}
.carousel-leave-active {
  transform: translateX(-100%);
  transition: all 1.5s ease;
}
.carousel-enter {
  transform: translateX(100%);
}
.carousel-leave {
  transform: translateX(0);
}

.homepage .hots {
  margin:30px 0 20px 0;
}
.homepage .hots .hot {
  display: inline-block;
  margin: 0 18px 18px 0;
  min-height: 32px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
}
.homepage .hots .hot img {
  width: 32px;
  height: 32px;
}
.homepage .hots .hot .name {
  display: inline-block;
  padding: 0 11px 0 6px;
  font-size: 14px;
}
.homepage .hots .more-hot {
  display: block;
  margin-top: 7px;
  font-size: 14px;
  color: #787878;
}
.homepage .more-hot i {
  margin-left: -5px;
}
.homepage .board  {
  margin-top: -4px;
  padding-bottom: 4px;
  min-height: 228px;
}
.homepage .board img {
  width: 100%;
  min-height: 50px;
  margin-bottom: 6px;
  border-radius: 4px;
}
.homepage #download-qrcode {
  margin-bottom: 30px;
  padding: 10px 22px;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  background-color: #fff;
  display: inline-block;
}
.homepage #download-qrcode .qrcode {
  width: 60px;
  height: 60px;
  opacity: .85;
}
.homepage #download-qrcode .info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
}
.homepage #download-qrcode .info .title {
  font-size: 15px;
  color: #333;
}
.homepage #download-qrcode .info .description {
  margin-top: 4px;
  font-size: 13px;
  color: #999;
}
/*--------------------------article-lists-------------------------------*/
.list-container .note-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-container li.have-img {
  position: relative;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px 2px 20px 0;
  border-bottom: 1px solid #f0f0f0;
  word-wrap: break-word;
}
.list-container .wrap-img {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  right: 0;
  width: 125px;
  height: 100px;
}
.list-container .wrap-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}
.list-container li.have-img>div {
  padding-right: 135px;
}
.list-container li.have-img>div .title {
  font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  margin: -7px 0 4px;
  display: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
.list-container li.have-img>div .title:hover {
  text-decoration: underline;
}
.list-container .note-list .abstract {
  margin: 0 0 8px;
  font-size: 13px;
  line-height: 24px;
  color: #999;
}
.list-container .note-list .meta {
  padding-right: 0!important;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.list-container .note-list .meta a {
  margin-right: 10px;
  color: #b4b4b4;
}
.list-container .note-list .meta span {
  margin-right: 10px;
  color: #b4b4b4;
}

